.product-category {
    border-radius: 5px;
}

.img-shoes {
    margin-top: -5vh;
}

@media (min-width: 768px) {
    .site-blocks-cover.inner-page .site-block-cover-content {
        margin-top: 15%;
    }
}

@media screen and (min-width: 992px) {
    .img-men {
        height: 90%;
    }
}

@media screen and (max-width: 991px) {
    .colmen {
        margin-top: 25px;
    }
}

@media screen and (max-width: 768px) {
    .img-shoes {
        display: none;
    }

    .input-group {
        height: 100px;
        width: 100px;
    }
}

.img-shop {
    width: 15%;
    height: auto;
}

.quantity-controls {
    white-space: nowrap;
}